.git
.github
.vscode
bash
docker
node_modules
scripts
src

.dockerignore
.DS_Store
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
.stackblitzrc
docker-compose.yml
Dockerfile
vite.config.js

/index.html
*.md
**/.DS_Store
**/**/.DS_Store
package*.json
