@import '../../../../assets/scss/imports/mixins';

body {
   #root.admin {
      @include flex(column, center, center);

      & > * {
         width: 100%;
      }

      & > header,
      & > footer {
         position: relative;
         z-index: 1;
         padding: 25px;
         background-color: #2e006a;
      }

      & > header {
         @include flex(row, flex-start, flex-end);
         box-shadow: 0 5px 25px #331d6278;

         & > span {
            color: #fff;
            padding: 10px;

            &::after {
               content: 'See in Network 💡';
               display: block;
               font-size: 12px;
               text-align: right;
            }
         }
      }

      & > main {
         @include flex(column, center, center, nowrap, 2);
         background-color: #7167c5;

         & > h2 {
            line-height: 1.5;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-size: 21px;
            font-weight: bold;
            text-align: center;
            color: #fff;
         }
      }

      & > footer {
         @include flex(row, flex-start, flex-end);
         box-shadow: 5px 0 25px #9771e99b;
         color: #fff;

         a {
            & + a {
               margin-left: 10px;
            }

            &::after {
               content: '';
               display: block;
               border-bottom: 2px solid transparent;
               transition: border-color 0.25s;
            }

            &:hover {
               &::after {
                  border-color: #afcbff74;
               }
            }
         }
      }
   }
}
